h1 {
background-image: linear-gradient(to right, rgb(109, 109, 207), darkblue);
  color:white;
text-align: center;
margin: -7px;
color: rgb(234, 0, 255);
height: 100px;
}
h2 {
  Color: lightgrey;
  text-shadow: 1.5px 1.5px darkgrey;
}
h3 {
    font-size: 25px;
    color: #818181;
}
p {
color: gray
}

.hoover { 
    box-shadow: gray;
}

.parTitle {
  font-size: 35px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.listItem {
  font-size: 28px;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.sidenav {
  height: 100%;
  width: 17%;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex-shrink;
  flex: ;
  order: 3;
}

.sidenav a {
  padding: 6px 1px 6px 6px;
  text-decoration: none;
  font-size: 16px;
  color: #afaeae;
  display: flex-shrink;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav img:hover {
  box-shadow: 5px 5px 3px rgb(234, 0, 255);
}

.main {
  margin-left: 17%; /* Same as the width of the sidenav */
  font-size: 14px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  display: flex-grow;
}

@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  main,
  sidenav {
    flex-direction: column;
  }
  /* Make the sidebar stack below the body */
  aside {
    order: 2;
  }
  /* Change the header background */
  header {
    background: #772014;
  }
  /* Change the navbar and footer background */
  nav,
  footer {
    background-color: #bb8588;
  }
}

